# .NET build output directories
bin/
obj/

# JetBrains IDE files
.idea/
*.sln.iml
.idea_modules/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
._*

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio files
.vs/
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
.cursor

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio code coverage results
*.coverage
*.coveragexml

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/

/authentication-service/src/API/Logs

*bak
*build-cache
docker-compose.dcproj
node_modules/
